*.o
*.pro.user
Makefile
moc_*.cpp
moc_*.h
*.list
*.qm
/translations/patience-deck.ts
/RPMS/
patience-deck
/installroot/
/tools/convert
/tools/exerciser/games/
/tools/exerciser/engine-exerciser
.qmake.stash
