*.o
*.pro.user
Makefile
moc_*.cpp
moc_*.h
*.list
/RPMS/
patience-deck
harbour-patience-deck
/data/anglo*.svg
/dist/*.png
/dist/screenshots/*.png
/installroot/
/tools/convert
/tools/exerciser/games/
/tools/exerciser/engine-exerciser
.qmake.stash
/libs/
